<!DOCTYPE html>
<html>
<head>
  <title>Divisima | eCommerce Template</title>
    <meta charset="UTF-8">
    <meta name="description" content=" Divisima | eCommerce Template">
    <meta name="keywords" content="divisima, eCommerce, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/flaticon.css" />
    <link rel="stylesheet" href="/css/slicknav.min.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/animate.css" />
    <link rel="stylesheet" href="/css/style.css" />

  <meta name="google-signin-client_id" content="964046842523-cvq77d0em3r1aerkngbon2v091h7mtns.apps.googleusercontent.com">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>

    .formsignin {
      border: 3px solid #f1f1f1;
      align-items: center;
      margin: 20px auto;
      width: 500px;
      font-family: Arial, Helvetica, sans-serif;
    }

    .input[type=text],
    .input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    .button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    .button:hover {
      opacity: 0.8;
    }
    
    .Googlesignin{
      width: 100%;
      padding: 10px 18px;
    }
    .cancelbtn {
      width: 100%;
      padding: 10px 18px;
      background-color: #f44336;
    }

    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }

    img.avatar {
      width: 40%;
      border-radius: 50%;
    }
/* 
    .container {
      padding: 16px;
    } */

    .alert {
      padding: 20px;
      background-color: #f44336;
      color: white;
      opacity: 1;
      transition: opacity 0.6s;
      margin-bottom: 15px;
    }

    .alert.success {
      background-color: #04AA6D;
    }

    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }

    .closebtn:hover {
      color: black;
    }


    span.psw {
      float: right;
      padding-top: 16px;
    }

    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
        display: block;
        float: none;
      }

      .cancelbtn {
        width: 100%;
      }
    }
  </style>

</head>

<body onload="signOut()">
  <div id="preloder">
    <div class="loader"></div>
</div>
<!-- Header section -->
<%- include('../partial/clientHeader.ejs')%>
<!-- Header section end -->
  <% if (success !='' ) {%>
    <div class='alert success'>
      <span class="closebtn">&times;</span>
      Sign in <%=success%> 's account !!!
    </div>
    <% } %>
    <% if (message !='' ) {%>
      <div class='alert'>
        <span class="closebtn">&times;</span>
       <%=message%>
      </div>
      <% } %>

      <form action="/signin" method="post" class="formsignin">
        <div class="container">
          <h1>ĐĂNG NHẬP</h1>
          <a href="/signup">Don't have account? Sign Up</a>
          <hr>
          <label for="email"><b>Email</b></label>
          <input class="input" type="text" placeholder="Enter Email" name="email" required>

          <label for="password"><b>Password</b></label>
          <input class="input" type="password" placeholder="Enter Password" name="password" required>
          <button type="submit" class="button">Sign In</button>
          <!-- <div id="my-signin2"></div> -->
          <hr>
            <label>
              <input class="input" type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>

      </form>
      <script>


        // var close = document.getElementsByClassName("closebtn");
        // var i;
        // for (i = 0; i < close.length; i++) {
        //   close[i].onclick = function () {
        //     var div = this.parentElement;
        //     div.style.opacity = "0";
        //     setTimeout(function () { div.style.display = "none"; }, 600);
        //   }
        // }
            // function onSuccess(googleUser) {
            //   document.cookie ="userName=" + googleUser.getBasicProfile().getName() + ";";
            // }
            // function onFailure(error) {
            //   console.log(error);
            // }
            // function renderButton() {
            //   gapi.signin2.render('my-signin2', {
            //     'scope': 'profile email',
            //     'width': 462,
            //     'height': 44,
            //     'longtitle': true,
            //     'theme': 'dark',
            //     'onsuccess': onSuccess,
            //     'onfailure': onFailure
            //   });
            // }
      //       function signOut() {
      //       var auth2 = gapi.auth2.getAuthInstance();
      //         auth2.signOut().then(function () {
      //       console.log('User signed out.');
      //     });
      //     }
       </script>
      // <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
          <!-- Footer section -->
    <%- include('../partial/clientFooter.ejs')%>
    <!-- Footer section end -->



    <!--====== Javascripts & Jquery ======-->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/custom/ejs.min.js"></script>
</body>

</html>