<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>THÊM LOẠI SẢN PHẨM</h2>
        </div>
        <form action="/admin/product/type/add" id="post" method="post" >       
            <div class="form-group">
                <label for="name">Tên loại sản phẩm</label>
                <input type="text" name="name" id="" required class="form-control">
            </div>         
            <div class="form-group">
                <button class="btn btn-danger btn-block" type="submit">
                    Submit
                </button>
            </div>
            <div class="form-group">
                <h3 class="text-primary"><%= msg %></h3>
            </div>
        </form>
</section>