<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>THÊM SẢN PHẨM</h2>
        </div>

        <div class="form-group">
            <h3 class="text-primary"><%= msg %></h3>
        </div>

        <form action="/admin/product/add" id="post" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="type">Loại sản phẩm</label>
                <select name="type" id="" class="form-control">
                    <% productTypes.forEach(function(type) { %>
                    <option value="<%= type._id %>"><%= type.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="name">Tên sản phẩm</label>
                <input type="text" name="name" id="" required class="form-control">
            </div>
            <div class="form-group">
                <label for="price">Giá bán</label>
                <input type="number" name="price" id="" required class="form-control">
            </div>
            <div class="form-group">
                <label for="price">Mô tả</label>
                <textarea name="description" id="" cols="50" rows="4" required class="form-control"></textarea>
            </div>

            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Size</th>
                            <th scope="col">XL</th>
                            <th scope="col">L</th>
                            <th scope="col">M</th>
                            <th scope="col">S</th>
                            <th scope="col">XS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Số lượng</th>
                            <td><input type="number" name="XL" min="0" required class="form-control" value="0"></td>
                            <td><input type="number" name="L" min="0" required class="form-control" value="0"></td>
                            <td><input type="number" name="M" min="0" required class="form-control" value="0"></td>
                            <td><input type="number" name="S" min="0" required class="form-control" value="0"></td>
                            <td><input type="number" name="XS" min="0" required class="form-control" value="0"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="form-group">
                <label for="img">Upload ảnh chính (nhiều hình)</label>
                <input type="file" name="product_img" id="" required multiple class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block" id="submit">
                    Submit
                </button>
            </div>

        </form>
</section>