<section class="top-letest-product-section">
    <div class="container">
        <div class="section-title">
            <h2>SẢN PHẨM</h2>
        </div>
        <form action="/admin/product" id="post" method="post">
            <div class="form-group">
                <label for="name">Tìm sản phẩm</label>
                <input type="text" name="name" id="" required class="form-control" placeholder="Tên sản phẩm">
            </div>
            <div class="form-group">
                <label for="price">Ngày tạo trước đó</label>
                <input type="date" name="dayBefore" id="" required class="form-control">
            </div>
            <div class="form-group">
                <label for="price">Ngày tạo sau đó</label>
                <input type="date" name="dayAfter" id="" required class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block" id="submit">
                    Tìm kiếm
                </button>
            </div>
        </form>
        <%-include("../partial/gridCard", {products:products,title:""}) %>
</section>