<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <!-- <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/order/create_payment_url">Tạo mới</a></li>
            </ul> -->
            <h3 class="text-muted">VNPAY DEMO</h3>
        </div>
        <p style="text-align: center"> <%= msg %> </p>
        <p style="text-align: center">Bạn sẽ được chuyển về trang chủ sau <strong>3s</strong>. Nếu không tự động chuyển,
            nhấn vào nút dưới đây
        </p>
        <p style="text-align: center"><a href="/" class="btn btn-outline-dark">Về giỏ hàng</a></p>
        <footer class="footer">
            <p>&copy; VNPAY 2021</p>
        </footer>
    </div>

    <script>
        window.setTimeout(function () {
            window.location.replace('/');
        }, 3000);
    </script>

</body>

</html>