<section class="product-filter-section">
    <div class="container">
        <% if(title){ %>
        <div class="section-title">
            <h2><%= title %></h2>
        </div>
        <% }%>
        <div class="row">
            <% products.forEach(function(product) { %>
            <div class="col-lg-3 col-sm-6">
                <%-include("../partial/adminproductCard", {product:product}) %>
            </div>
            <% }); %>
        </div>
    </div>
</section>
