<header class="header-section">
    <nav class="main-navbar">
        <div class="container d-flex">
            <div style="flex: 1" class="pt-2 nav-logo-container">
                <a href="/admin"><img src="/img/logo-light.png" alt=""></a>
            </div>

            <div class="mobile-nav-padding"></div>

            <ul class="main-menu">
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin/product">Sản phẩm</a></li>
                <li><a href="/admin/product/add">Thêm sản phẩm</a></li>
                <li><a href="/admin/product/type">Loại sản phẩm</a></li>
                <li><a href="/admin/product/type/add">Thêm loại sản phẩm</a></li>
            </ul>
        </div>
    </nav>
</header>
