<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left">
                    <!-- logo -->
                    <a href="/" class="site-logo">
                        <img src="/img/logo.png" alt="logo-shopnam">
                    </a>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <form class="header-search-form" action="/products" method="POST">
                        <input type="text" id="search" name="search" placeholder="Nhập tên sản phẩm ...">
                        <button type="submit"><i class="flaticon-search"></i></button>
                    </form>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="user-panel">
                        <div class="up-item">
                            <i class="flaticon-profile"></i>
                            <% if (isLogin) { %>
                            <a href="/myaccount">Chào <%= isLogin %></a>
                            <% } else {%>
                            <a href="/signin">Đăng nhập</a> hoặc <a href="/signup">Tạo tài khoản</a>
                            <% } %>
                        </div>
                        <div class="up-item">
                            <div class="shopping-card">
                                <i class="flaticon-bag"></i>
                                <!-- <span>3</span> -->
                            </div>
                            <a href="/cart">Giỏ hàng</a>
                        </div>
                        <div class="up-item">
                            <% if (isLogin) { %>
                                <i class="flaticon-logout"></i>
                                <a href="/logout">Thoát</a>
                                <% }  %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="main-navbar">
        <div class="container">
            <!-- menu -->
            <ul class="main-menu">
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/products">Sản phẩm</a></li>
                <li><a href="/contact">Liên hệ</a></li>
                <li><a href="/admin"><%= isAdmin %></a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- Header section end -->