<section class="footer-section">
    <div class="container">
        <div class="footer-logo text-center">
            <a href="/"><img src="/img/logo-light.png" alt="logo-shopnam"></a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6 offset-lg-3">
                <div class="footer-widget about-widget">
                    <h2 class="mb-3">Thông tin</h2>
                    <p>Shop nam là shop đồng hồ nam với phong cách lịch lãm và hiện đại.<br>
                    Được thành lập từ năm 5/2021 bởi một nhóm start up UIT.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 offset-lg-2">
                <div class="footer-widget about-widget">
                    <h2 class="mb-3">Xem thêm</h2>
                    <ul>
                        <li><a href="/contact">Về chúng tôi</a></li>
                        <li><a href="/cart">Xem giỏ hàng</a></li>
                        <li><a href="/myaccount">Xem đơn hàng</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container text-center">
            <div class="social-links">
                <a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
                <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
                <a href="https://www.youtube.com/" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
            </div>

            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="text-white text-center mt-5">Bản quyền &copy;<script>
                    document.write(new Date().getFullYear());
                </script> Shop nam </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </div>
</section>